In [1]:
import pandas as pd

In [2]:
df = pd.read_json('ani_data_full.json')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6894 entries, 0 to 6893
Data columns (total 40 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name_english     6894 non-null   object
 1   name             6894 non-null   object
 2   cover_img        6770 non-null   object
 3   score            6894 non-null   object
 4   ranked           6894 non-null   object
 5   popularity       6894 non-null   int64
 6   members          6894 non-null   int64
 7   synopsis         6894 non-null   object
 8   synonyms         6894 non-null   object
 9   pics             6894 non-null   object
 10  characters       6894 non-null   object
 11  type_of          6894 non-null   object
 12  total_episodes   6894 non-null   object
 13  premiered        6894 non-null   object
 14  studios          6894 non-null   object
 15  genres           6894 non-null   object
 16  demographic      1947 non-null   object
 17  duration_per_ep  6894 non-null   object
 18  rating           6894 non-null   object
 19  scored_by        4151 non-null   float64
 20  favorites        6894 non-null   int64
 21  aired            6894 non-null   object
 22  source           6894 non-null   object
 23  themes           6894 non-null   object
 24  watching         6894 non-null   int64
 25  completed        6894 non-null   int64
 26  on_hold          6894 non-null   int64
 27  dropped          6894 non-null   int64
 28  plan_to_watch    6894 non-null   int64
 29  total            6894 non-null   int64
 30  scored_10_by     6894 non-null   int64
 31  scored_9_by      6894 non-null   int64
 32  scored_8_by      6894 non-null   int64
 33  scored_7_by      6894 non-null   int64
 34  scored_6_by      6894 non-null   int64
 35  scored_5_by      6894 non-null   int64
 36  scored_4_by      6894 non-null   int64
 37  scored_3_by      6894 non-null   int64
 38  scored_2_by      6894 non-null   int64
 39  scored_1_by      6894 non-null   int64
dtypes: float64(1), int64(19), object(20)
memory usage: 2.1+ MB

In [4]:
print(df.columns)

Index(['name_english', 'name', 'cover_img', 'score', 'ranked', 'popularity',
       'members', 'synopsis', 'synonyms', 'pics', 'characters', 'type_of',
       'total_episodes', 'premiered', 'studios', 'genres', 'demographic',
       'duration_per_ep', 'rating', 'scored_by', 'favorites', 'aired',
       'source', 'themes', 'watching', 'completed', 'on_hold', 'dropped',
       'plan_to_watch', 'total', 'scored_10_by', 'scored_9_by', 'scored_8_by',
       'scored_7_by', 'scored_6_by', 'scored_5_by', 'scored_4_by',
       'scored_3_by', 'scored_2_by', 'scored_1_by'],
      dtype='object')

In [5]:
df.dropna(subset=['cover_img'], inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6770 entries, 0 to 6893
Data columns (total 40 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name_english     6770 non-null   object
 1   name             6770 non-null   object
 2   cover_img        6770 non-null   object
 3   score            6770 non-null   object
 4   ranked           6770 non-null   object
 5   popularity       6770 non-null   int64
 6   members          6770 non-null   int64
 7   synopsis         6770 non-null   object
 8   synonyms         6770 non-null   object
 9   pics             6770 non-null   object
 10  characters       6770 non-null   object
 11  type_of          6770 non-null   object
 12  total_episodes   6770 non-null   object
 13  premiered        6770 non-null   object
 14  studios          6770 non-null   object
 15  genres           6770 non-null   object
 16  demographic      1849 non-null   object
 17  duration_per_ep  6770 non-null   object
 18  rating           6770 non-null   object
 19  scored_by        4148 non-null   float64
 20  favorites        6770 non-null   int64
 21  aired            6770 non-null   object
 22  source           6770 non-null   object
 23  themes           6770 non-null   object
 24  watching         6770 non-null   int64
 25  completed        6770 non-null   int64
 26  on_hold          6770 non-null   int64
 27  dropped          6770 non-null   int64
 28  plan_to_watch    6770 non-null   int64
 29  total            6770 non-null   int64
 30  scored_10_by     6770 non-null   int64
 31  scored_9_by      6770 non-null   int64
 32  scored_8_by      6770 non-null   int64
 33  scored_7_by      6770 non-null   int64
 34  scored_6_by      6770 non-null   int64
 35  scored_5_by      6770 non-null   int64
 36  scored_4_by      6770 non-null   int64
 37  scored_3_by      6770 non-null   int64
 38  scored_2_by      6770 non-null   int64
 39  scored_1_by      6770 non-null   int64
dtypes: float64(1), int64(19), object(20)
memory usage: 2.1+ MB

In [8]:
df.to_json('new.json')

In [9]:
df.to_json('data.json', orient='records', indent=4)